# Object files
*.o
# Editor backups and recovery files
*~
\#*#
.DS_Store
# build directories
build/**
cmake-build-*/**
.idea/
*.m68k-x/**
*.m68k/**
*.386-x/**
*.386/**
*.ppc-x/**
*.ppc/**
*.sparc-x/**
*.sparc/**
*.x86_64-x/**
*.x86_64-sdl/**
*.x86_64/**
*.armv7l-x/**
*.armv7l/**
*.aarch64-x/**
*.aarch64-sdl/**
*.aarch64/**
init.386/**
*.universal/**
# core files
core
*.core
*.swp

