# Object files
*.o
# Editor backups and recovery files
*~
\#*#
# build directories
darwin.386-x/**
darwin.386/**
freebsd.386-x/**
freebsd.386/**
sunos5.386-x/**
sunos5.386/**
init.386/**
# core files
*.core