name: Build

on: [push, pull_request]

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-11, macos-12, ubuntu-22.04, ubuntu-20.04]
    steps:
      - uses: actions/checkout@v2
      - name: Install X11 dependencies on MacOS
        if: ${{ runner.os == 'macOS'}}
        run: brew install --cask xquartz
      - name: Build
        working-directory: bin
        run: ./makeright x

#
# Commented out because the RPi is not online at this time (6 July 2021)
#
#  build-pi:
#    runs-on: [self-hosted, linux, ARM]
#    if: ${{ github.repository == 'Interlisp/maiko' }}
#    steps:
#      - uses: actions/checkout@v2
#      - name: Build
#        working-directory: bin
#        run: ./makeright x

  build-cmake:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-11, macos-12, ubuntu-22.04, ubuntu-20.04]
    env:
      BUILD_TYPE: Release
    steps:
    - uses: actions/checkout@v2
    - name: Install X11 dependencies on MacOS
      if: ${{ runner.os == 'macOS'}}
      run: brew install --cask xquartz
    - name: Create Build Environment
      run: cmake -E make_directory ${{github.workspace}}/build
    - name: Configure CMake
      shell: bash
      working-directory: ${{github.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE
    - name: Build
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: cmake --build . --config $BUILD_TYPE
